::ng-deep .cdk-overlay-pane.mat-mdc-dialog-panel {
  width: 100%;
  height: 715px;
  max-width: 794px;
  overflow-y: auto;
  overflow-wrap: break-word;
}

::ng-deep markdown {
  padding: 0 20px;
}

::ng-deep.details h4 {
  display: inline;
}
