<div id="modal-header">New resource</div>
<div style="height: 100%">
  <mat-stepper #stepper [linear]="true" class="custom-stepper">
    <mat-step label="Select resource type" [editable]="false" [stepControl]="resourceTypeStep">
      <form [formGroup]="resourceTypeStep" id="resource-input-form">
        <div class="forms-wrapper">
          <mat-form-field [appearance]="'outline'">
            <mat-select matNativeControl [value]="selectedType" formControlName="resourceType">
              @for (type of resourceTypes; track type) {
              <mat-option [value]="type" [title]="type" (click)="selectedType = type" (click)="clearResource()">{{
                type
              }}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <input
            type="text"
            autocomplete="off"
            matInput
            id="resource-input"
            formControlName="resourceId"
            [matAutocomplete]="resourceIdsDropdown"
            #resourceInput="matAutocompleteTrigger"
            #resourceInputValue
            [title]="resourceInputValue.value"
            (click)="clearResource()" />
          <mat-autocomplete #resourceIdsDropdown="matAutocomplete">
            @for (id of resourceIds; track id) {
            <mat-option class="resource-option" [value]="id" [title]="id">{{ id }}</mat-option>
            }
          </mat-autocomplete>
        </div>

        <div>
          <button matButton [disabled]="resourceTypeStep.invalid" class="next-button" (click)="requestAnnotators()"
            >Next</button
          >
        </div>
      </form>
    </mat-step>

    <mat-step label="Select annotator" [editable]="false" [stepControl]="annotatorStep">
      <ng-template matStepContent>
        <div class="summary-content">
          <div class="resources-display-text">{{ resourceTypeStep.value | keyValueDisplay }}</div>
        </div>
        <div class="left-content">
          <form [formGroup]="annotatorStep" id="annotator-input-form">
            <mat-form-field [appearance]="'outline'">
              <input
                type="text"
                placeholder="Select annotator"
                autocomplete="off"
                matInput
                formControlName="annotatorType"
                [matAutocomplete]="annotatorsDropdown"
                #annotatorInput="matAutocompleteTrigger"
                #annotatorInputValue
                [title]="annotatorInputValue.value"
                (click)="clearAnnotator()" />
              <span
                (click)="annotatorInput.openPanel(); clearAnnotator()"
                class="material-symbols-outlined dropdown-icon"
                >keyboard_arrow_down</span
              >

              <mat-autocomplete #annotatorsDropdown="matAutocomplete">
                @for (annotator of filteredAnnotatorTypes; track annotator) {
                <mat-option class="annotator-option" [value]="annotator" [title]="annotator">{{
                  annotator
                }}</mat-option>
                }
              </mat-autocomplete>
            </mat-form-field>

            <div>
              <button matButton [disabled]="annotatorStep.invalid" class="next-button" (click)="requestResources()"
                >Next</button
              >
            </div>
          </form>
        </div>
      </ng-template>
    </mat-step>

    <mat-step label="Select resources" [editable]="false" [stepControl]="resourceStep">
      <ng-template matStepContent>
        <div class="summary-content">
          <div class="resources-display-text" [title]="resourceTypeStep.value | keyValueDisplay">{{
            resourceTypeStep.value | keyValueDisplay
          }}</div>
          <div class="annotator-display-text">{{ annotatorStep.value | keyValueDisplay }}</div>
        </div>

        <div class="left-content">
          <form [formGroup]="resourceStep">
            <div>
              @for (resource of annotatorConfig.resources; track resource) {
              <div class="field">
                <div class="labels-wrapper">
                  <span class="resource field-label"> {{ resource.key }}</span>
                  @if(resource.optional) {
                  <span class="optional-label">(optional)</span>
                  }
                </div>

                @if(resource.fieldType === 'resource' || resource.fieldType === 'attribute') {
                <mat-form-field [appearance]="'outline'" class="resource-input" [attr.id]="resource.key + '-dropdown'">
                  <input
                    type="text"
                    placeholder="Select or search"
                    autocomplete="off"
                    matInput
                    [formControlName]="resource.key"
                    [matAutocomplete]="resourcesDropdown"
                    #resourceInput="matAutocompleteTrigger"
                    #resourceInputValue
                    [title]="resourceInputValue.value"
                    (click)="clearResource(resource.key)" />
                  <span
                    (click)="resourceInput.openPanel(); clearResource(resource.key)"
                    class="material-symbols-outlined dropdown-icon"
                    >keyboard_arrow_down</span
                  >

                  <mat-autocomplete #resourcesDropdown="matAutocomplete">
                    @for (r of filteredResourceValues.get(resource.key); track $index) {
                    <mat-option class="resource-option" [value]="r" [title]="r">{{ r }}</mat-option>
                    }
                  </mat-autocomplete>
                </mat-form-field>
                } @else if(resource.fieldType === 'string') {
                <input
                  class="resource-field"
                  type="text"
                  [formControlName]="resource.key"
                  autocomplete="off"
                  [attr.id]="resource.key + '-input'" />
                } @else if(resource.fieldType === 'bool') {
                <div>
                  <input type="radio" [formControlName]="resource.key" for="true" />
                  <label name="true">True</label>
                  <input type="radio" [formControlName]="resource.key" for="false" />
                  <label name="false">False</label>
                </div>
                }
              </div>
              }
            </div>
            <div>
              <button matButton [disabled]="resourceStep.invalid" (click)="requestAttributes()" class="next-button"
                >Next</button
              >
            </div>
          </form>
        </div>
      </ng-template>
    </mat-step>

    <mat-step label="Attributes" [editable]="false">
      <ng-template matStepContent>
        <div class="summary-content">
          <div class="resource-type-display-text" [title]="resourceTypeStep.value | keyValueDisplay">{{
            resourceTypeStep.value | keyValueDisplay
          }}</div>
          <div class="annotator-display-text" [title]="annotatorStep.value | keyValueDisplay">{{
            annotatorStep.value | keyValueDisplay
          }}</div>
          <div class="resources-display-text" [title]="annotatorStep.value | keyValueDisplay">{{
            resourceStep.value | keyValueDisplay
          }}</div>
        </div>

        <div class="left-content">
          <div id="attributes-list">
            @for (attribute of annotatorAttributes; track attribute) { @if(attribute.selectedByDefault) {
            <div class="attribute-group">
              <div class="attribute">
                <span class="field-label-attribute">name</span>
                <span [title]="attribute.name" class="field-value">{{ attribute.name }}</span>
              </div>
              <div class="attribute">
                <span class="field-label-attribute">source</span>
                <span class="field-value">{{ attribute.source }}</span>
              </div>
              <div class="attribute">
                <span class="field-label-attribute">internal</span>
                <span class="field-value">{{ attribute.internal }}</span>
              </div>
            </div>
            } }
          </div>
          <div>
            <button matButton class="finish-button">Finish</button>
            <button matButton matStepperNext class="next-button">Next</button>
          </div>
        </div>
      </ng-template>
    </mat-step>
    <mat-step label="Modify attributes" [editable]="false" [optional]="true"></mat-step>
  </mat-stepper>
</div>
