<div id="front-page-container" *ngIf="!currentUserData">
  <div id="front-page-header">
    <img src="../assets/logo-64x64.png" alt="GPF Logo" id="front-page-logo" />
    <h1>GPF Web Annotation</h1>
    <p>{{ description }}</p>
  </div>
  <router-outlet></router-outlet>
</div>

<div id="app-container" *ngIf="currentUserData">
  <div id="app-header">
    <div>
      <img src="../assets/logo-64x64.png" alt="GPF Logo" id="header-logo" />
      <span id="app-title">GPF Web Annotation</span>
    </div>
    <div id="user-data">
      <span id="user-email">{{ currentUserData.email }}</span>
      <button id="logout-button" (click)="logout()">Logout</button>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
