<div id="app-container">
  <div id="app-header" *ngIf="isAppHeaderVisible()">
    <div>
      <img src="{{ environment.imgPathPrefix }}/logo-64x64.png" alt="GPF Logo" id="header-logo" />
      <span id="app-title">GPF Web Annotation</span>
    </div>
    <div id="header-right">
      <div id="user-data" *ngIf="currentUserData">
        <span id="user-email">{{ currentUserData.email }}</span>
        <button id="logout-button" (click)="logout()">Logout</button>
      </div>
      <div id="user-data" *ngIf="!currentUserData">
        <button id="login-button" (click)="login()">Login</button>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
