#app-header {
  display: flex;
  justify-content: space-between;
  margin: 10px 15px;
}

#header-logo {
  width: 32px;
  height: 32px;
}

#app-title {
  font-size: 28px;
  font-weight: bold;
  margin-left: 10px;
  vertical-align: text-bottom;
}

#user-email {
  font-size: 16px;
  margin-right: 10px;
}

#logout-button,
#login-button {
  padding: 8px 10px;
  font-size: 16px;
  white-space: nowrap;
  border: 1px solid #cfd8df;
  background: #fff;
  border-radius: 10px;
}

#login-button:hover,
#logout-button:hover {
  background: #f4f7fb;
  cursor: pointer;
}

#header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

a {
  text-decoration: none;
  color: #85a2b9;
  font-size: 16px;
  margin-left: 20px;
}

.active-link {
  color: #435869;
  font-weight: bold;
}
