#front-page-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  gap: 4vw;
}

#front-page-header {
  background-color: rgb(244, 247, 251);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
}

#app-header {
  display: flex;
  justify-content: space-between;
  margin: 10px 15px;
}

#header-logo {
  width: 32px;
  height: 32px;
}

#app-title {
  font-size: 28px;
  font-weight: bold;
  margin-left: 10px;
  vertical-align: text-bottom;
}

#user-email {
  font-size: 16px;
  margin-right: 10px;
}

#logout-button {
  padding: 8px 10px;
  font-size: 16px;
  white-space: nowrap;
  border: 1px solid #cfd8df;
  background: #fff;
  border-radius: 10px;
}

#logout-button:hover {
  background: #f4f7fb;
  cursor: pointer;
}

#header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

a {
  text-decoration: none;
  color: #85a2b9;
  font-size: 16px;
  margin-left: 20px;
}

.active-link {
  color: #435869;
  font-weight: bold;
}
