__pycache__
*.sqlite3
data
.pytest_cache
gpf
*.egg-info
conda-channel.tar.gz
/conda-channel
*.tbi
/gpfwa-static-data
/gpfwa-pg-data
/gpfwa-data
/gpfwa-logs
/gpfwa
/results
backend/gpfwa-debug.log
backend/gpfwa-celery.log
