#page-content {
  margin: 60px 15% 0;
  min-width: 715px;
  max-width: 1600px;
}

#above-table {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

#add-job-button {
  padding: 10px 12px;
  font-size: 16px;
  white-space: nowrap;
  border: none;
  background: #435869;
  border-radius: 10px;
  color: white;
  display: flex;
  align-items: center;
  gap: 5px;
}

#add-job-button:hover {
  background: #5b778c;
  cursor: pointer;
}

#table-title {
  font-weight: bold;
  font-size: 16px;
  margin-left: 10px;
}

#grid-container {
  display: grid;
  width: max-content;
  min-width: 715px;
  max-width: 1600px;
  grid-template-columns: repeat(7, minmax(105px, 10vw));
  border: 1px solid #cfd8df;
  border-radius: 15px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.grid-header {
  background-color: #ecf1f6;
  min-height: 2rem;
  line-height: 3rem;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #5b778c;
  color: #252e34;
}

.grid-header:first-child {
  border-top-left-radius: 15px;
}

.grid-header:nth-child(7) {
  border-top-right-radius: 15px;
}

.grid-cell {
  border-top: 1px solid #cfd8df;
  text-align: center;
  line-height: 3rem;
}

.info-icon {
  font-size: 16px;
  color: #5b778c;
  margin-left: 5px;
}

.info-icon:hover {
  color: #85a2b9;
  cursor: pointer;
}

.download-icon,
.delete-icon {
  color: #435869;
  vertical-align: middle;
}

.download-icon:hover,
.delete-icon:hover {
  color: #85a2b9;
  cursor: pointer;
}

#note {
  font-style: italic;
  color: #5b778c;
  margin-top: 5px;
}

::ng-deep .cdk-overlay-pane.mat-mdc-dialog-panel {
  max-width: 1000px !important;
  min-height: 400px !important;
}
