<mat-dialog-content>
  <div id="quota">Quota: 5 per day</div>
  <div id="annotation-mode">
    <button
      id="pipelines-list"
      [ngClass]="view === 'pipeline list' ? 'active-view' : 'inactive-view'"
      (click)="changeView('pipeline list')"
      >Annotation pipelines</button
    >
    <button
      id="text-editor"
      [ngClass]="view === 'text editor' ? 'active-view' : 'inactive-view'"
      (click)="changeView('text editor')"
      >YML text editor</button
    >
  </div>
  <div id="annotation-details">
    <label for="select-genome">Select genome:</label>
    <select id="select-genome" [(ngModel)]="selectedGenome">
      <option *ngFor="let genome of genomes" [value]="genome">{{ genome }}</option>
    </select>
    <ng-container *ngIf="view === 'pipeline list'">
      <div *ngFor="let pipeline of pipelines" class="pipeline-option">
        <input
          type="radio"
          name="pipeline"
          [id]="pipeline.id"
          [value]="pipeline.id"
          (click)="onPipelineClick(pipeline.id)" />
        <label [attr.for]="pipeline.id">{{ pipeline.id }}</label>
      </div>
    </ng-container>
    <ng-container *ngIf="view === 'text editor'">
      <textarea
        id="yml-textarea"
        [(ngModel)]="ymlConfig"
        [ngClass]="{ 'invalid-config': configError }"
        (change)="isConfigValid(ymlConfig)"></textarea>
      <div class="error-message">{{ configError }}</div>
    </ng-container>
  </div>
  <div *ngIf="!file" id="file-upload-field" (dragover)="onDragOver($event)" (drop)="onDropSuccess($event)">
    <div id="upload-instructions">
      Drag & drop here or
      <label id="file-upload-label" for="file-upload">Choose file</label>
      <input
        type="file"
        id="file-upload"
        accept=".csv, .vcf, .tsv, .txt"
        (change)="onUpload($event)"
        style="display: none" />
    </div>
    <div>
      <div class="restrictions">*Supported formats: CSV, VCF</div>
      <div class="restrictions">*Maximum file size: 5MB</div>
      <div class="restrictions">*Maximum variants: 5</div>
    </div>
  </div>

  <div *ngIf="file" id="uploaded-file-container">
    <div id="file-info">
      <span *ngIf="uploadError" class="material-symbols-outlined warning-icon">warning</span>
      <span *ngIf="!uploadError" class="material-symbols-outlined file-icon">article</span>
      <span>{{ file.name }}</span>
      <span class="error-message">{{ uploadError }}</span>
    </div>
    <button (click)="removeFile()" id="delete-uploaded-file">
      <span class="material-symbols-outlined delete-icon">delete</span>
    </button>
  </div>
  <div *ngIf="this.file && !this.file.name.endsWith('vcf')" class="separator-list">
    <label class="separator-label">Choose separator: </label>

    <input type="radio" id="tab-separtor-radio" name="separator" value="Tab" (click)="fileSeparator = '\t'" />
    <label class="separator-label" for="tab-separtor-radio">Tab</label>

    <input type="radio" id="comma-separtor-radio" name="separator" value="Comma" (click)="fileSeparator = ','" />
    <label class="separator-label" for="comma-separtor-radio">Comma</label>

    <input type="radio" id="no-separator-radio" name="separator" value="No separator" (click)="fileSeparator = ''" />
    <label class="separator-label" for="no-separator-radio">No separator</label>
  </div>
</mat-dialog-content>
<span class="error-message">{{ creationError }}</span>
<mat-dialog-actions align="center">
  <button id="create-button" mat-raised-button (click)="onCreateClick()" tabindex="1" [disabled]="disableCreate()"
    >Create</button
  >
  <button id="cancel-button" mat-raised-button (click)="onCancelClick()" tabindex="-1">Cancel</button>
</mat-dialog-actions>
