<mat-dialog-content>
  <div id="quota">Quota: 5 per day</div>
  <div id="annotation-mode">
    <button
      id="pipelines-list"
      [ngClass]="view === 'pipeline list' ? 'active-view' : 'inactive-view'"
      (click)="changeView('pipeline list')"
      >Annotation pipelines</button
    >
    <button
      id="text-editor"
      [ngClass]="view === 'text editor' ? 'active-view' : 'inactive-view'"
      (click)="changeView('text editor')"
      >YML text editor</button
    >
  </div>
  <div id="annotation-details">
    <ng-container *ngIf="view === 'pipeline list'">
      <div class="pipeline-option">
        <input type="radio" name="contact" value="autism" (click)="onPipelineClick('Autism_annotation')" />
        <a id="autism-link" href="https://grr.seqpipe.org/pipeline/Autism_annotation/index.html">Autism_annotation</a>
      </div>
      <div class="pipeline-option">
        <input type="radio" name="contact" value="clinical" (click)="onPipelineClick('Clinical_annotation')" />
        <a id="clinical-link" href="https://grr.seqpipe.org/pipeline/Clinical_annotation/index.html"
          >Clinical_annotation</a
        >
      </div>
      <div class="pipeline-option">
        <input type="radio" name="contact" value="gpf-sfari" (click)="onPipelineClick('GPF-SFARI_annotation')" />
        <a id="gpf-sfari-link" href="https://grr.seqpipe.org/pipeline/GPF-SFARI_annotation/index.html"
          >GPF-SFARI_annotation</a
        >
      </div>
    </ng-container>
    <ng-container *ngIf="view === 'text editor'">
      <textarea id="yml-textarea" #ymlText></textarea>
    </ng-container>
  </div>
  <div *ngIf="!file" id="file-upload-field" (dragover)="onDragOver($event)" (drop)="onDropSuccess($event)">
    <div id="upload-instructions">
      Drag & drop here or
      <label for="file-upload">Choose file</label>
      <input type="file" id="file-upload" accept=".csv, .vcf" (change)="onUpload($event)" style="display: none" />
    </div>
    <div>
      <div class="restrictions">*Supported formats: CSV, VCF</div>
      <div class="restrictions">*Maximum file size: 5MB</div>
      <div class="restrictions">*Maximum variants: 5</div>
    </div>
  </div>

  <div *ngIf="file" id="uploaded-file-container">
    <div id="file-info">
      <span *ngIf="uploadError" class="material-symbols-outlined warning-icon">warning</span>
      <span *ngIf="!uploadError" class="material-symbols-outlined file-icon">article</span>
      <span>{{ file.name }}</span>
      <span id="error-message">{{ uploadError }}</span>
    </div>
    <button (click)="removeFile()" id="delete-uploaded-file">
      <span class="material-symbols-outlined delete-icon">delete</span>
    </button>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button id="start-button" mat-raised-button (click)="onStartClick()" tabindex="1">Start</button>
  <button id="cancel-button" mat-raised-button (click)="onCancelClick()" tabindex="-1">Cancel</button>
</mat-dialog-actions>
