#grid-container {
  display: grid;
  width: max-content;
  grid-template-columns: repeat(2, minmax(100px, max-content));
  border: 1px solid #cfd8df;
  border-radius: 15px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.grid-header {
  background-color: #435869;
  min-height: 2rem;
  line-height: 3rem;
  text-align: center;
  font-weight: bold;
  color: white;
}

.grid-header:first-child {
  border-top-left-radius: 15px;
}

.grid-header:nth-child(2) {
  border-top-right-radius: 15px;
}

.grid-cell {
  border-top: 1px solid #cfd8df;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2rem;
  padding: 8px 0 5px 10px;
}

#delete-allele {
  background: none;
  border: none;
}

#note {
  font-style: italic;
  color: #5b778c;
  margin-top: 5px;
}

.allele-button {
  color: #5b778c;
  text-decoration: underline;
}

.allele-button:hover {
  cursor: pointer;
  color: #85a2b9;
}
