<div id="wrapper-container">
  <div id="annotation-container">
    <app-annotation-pipeline
      style="width: 35%"
      (emitPipelineId)="setPipeline($event)"
      (emitConfig)="setConfig($event)"
      (emitView)="setView($event)"
      (emitIsConfigValid)="setConfigValid($event)"></app-annotation-pipeline>
    <div style="width: 75%">
      <div id="annotation-mode">
        <button id="annotation-jobs" class="active-view">Annotation jobs</button>
      </div>

      <div *ngIf="isCreationFormVisible">
        <app-job-creation
          (emitFile)="setFile($event)"
          (emitFileSeparator)="setFileSeparator($event)"
          (emitGenome)="setGenome($event)"
          (emitUpdatedFileHeader)="setUpdatedFileHeader($event)"></app-job-creation>
        <div style="margin-top: 10px">
          <span class="error-message">{{ creationError }}</span>
          <div id="buttons-wrapper">
            <button id="create-button" (click)="onCreateClick()" tabindex="1" [disabled]="disableCreate()"
              >Create</button
            >
            <button id="reset-button" (click)="onResetClick()" tabindex="-1">Reset</button>
          </div>
        </div>
      </div>

      <div *ngIf="!isCreationFormVisible" id="result">
        <div id="current-job-info">
          <span class="status-label" [ngClass]="getStatusClass()">{{ createdJobStatus }}</span>
          <ng-container *ngIf="createdJobStatus === 'success'">
            <span>{{ annotatedFileName }}</span>
            <a *ngIf="createdJobStatus === 'success'" id="download-result" [href]="downloadLink" download
              ><span class="material-symbols-outlined download-icon">download</span></a
            >
          </ng-container>
        </div>

        <div *ngIf="isJobFinished(createdJobStatus)" id="new-job-section">
          <button id="new-job-button" (click)="showCreateMode()"
            ><span class="material-symbols-outlined">add</span>new job</button
          >
        </div>
      </div>
    </div>
  </div>

  <app-jobs-table></app-jobs-table>
</div>
