<div id="wrapper-container">
  <div id="annotation-container">
    <div>
      <div *ngIf="hideComponents">
        <button id="show-components" (click)="showComponents()" id="show-button"
          ><span class="material-symbols-outlined show-components-icon">right_panel_open</span></button
        >
      </div>

      <app-annotation-pipeline
        (emitPipelineId)="setPipeline($event)"
        (emitIsConfigValid)="setConfigValid($event)"
        (tiggerHidingComponents)="updateComponentsVisibility($event)"></app-annotation-pipeline>
    </div>

    <div *ngIf="!hideComponents" style="display: flex; flex-direction: column; width: 50%">
      <div id="annotation-mode">
        <button
          id="annotation-jobs"
          (click)="switchView('jobs')"
          [ngClass]="currentView === 'jobs' ? 'active-view' : 'inactive-view'"
          >Annotation jobs</button
        >
        <button
          id="annotation-jobs"
          (click)="switchView('single allele')"
          [ngClass]="currentView === 'single allele' ? 'active-view' : 'inactive-view'"
          >Single allele annotation</button
        >
      </div>

      <button id="toggle-history" (click)="this.hideHistory = !this.hideHistory"
        >History<span
          class="material-symbols-outlined"
          [ngStyle]="{ transform: this.hideHistory ? 'rotate(180deg)' : 'rotate(0deg)' }"
          >chevron_forward</span
        ></button
      >

      <div *ngIf="currentView === 'jobs'">
        <div *ngIf="isCreationFormVisible">
          <app-job-creation
            (emitFile)="setFile($event)"
            (emitFileSeparator)="setFileSeparator($event)"
            (emitGenome)="setGenome($event)"
            (emitUpdatedFileHeader)="setUpdatedFileHeader($event)"></app-job-creation>
          <div style="margin-top: 10px">
            <span class="error-message">{{ creationError }}</span>
            <button id="create-button" (click)="autoSavePipeline()" tabindex="1" [disabled]="disableCreate()"
              >Create</button
            >
          </div>
        </div>

        <div *ngIf="!isCreationFormVisible && currentJob" id="result">
          <div id="current-job-info">
            <div>
              <span class="job-name">Job name: {{ currentJob.name }}</span>
              <span class="status-label" [ngClass]="getStatusClass()">{{ currentJob.status }}</span>
            </div>
            <div *ngIf="currentJob.status === 'success'">
              <span id="file-name">{{ currentJob.annotatedFileName }}</span>
              <a id="download-result" [href]="downloadLink" download
                ><span class="material-symbols-outlined download-icon">download</span></a
              >
            </div>
          </div>

          <div id="new-job-section">
            <button id="new-job-button" (click)="showCreateMode()"
              ><span class="material-symbols-outlined">add</span>new job</button
            >
          </div>
        </div>
      </div>

      <div *ngIf="currentView === 'single allele'">
        <app-single-annotation
          (alleleUpdateEmit)="refreshAllelesTable()"
          (autoSaveTrigger)="autoSavePipeline()"></app-single-annotation>
      </div>
    </div>
  </div>

  <div
    *ngIf="!hideHistory && isUserLoggedIn"
    id="history-table"
    style="width: 20%; border-left: 1px solid #e1e9ef; padding-left: 30px">
    <app-jobs-table *ngIf="currentView === 'jobs'"></app-jobs-table>
    <app-alleles-table
      *ngIf="currentView === 'single allele'"
      (emitAllele)="triggerSingleAlleleAnnotation($event)"></app-alleles-table>
  </div>
</div>
