#wrapper-container {
  display: flex;
  gap: 35px;
  margin: 60px 2% 60px 10%;
  min-width: 715px;
  max-width: 3000px;
}

#create-button {
  padding: 10px 12px;
  font-size: 16px;
  white-space: nowrap;
  border: none;
  background: #435869;
  border-radius: 10px;
  color: white;
  margin-right: 10px;
}

#create-button:hover {
  background: #5b778c;
  cursor: pointer;
}

#create-button:disabled {
  opacity: 30%;
}

#create-button:disabled:hover {
  cursor: auto;
  background-color: #435869;
}

#cancel-button {
  padding: 8px 10px;
  font-size: 16px;
  white-space: nowrap;
  border: 1px solid #cfd8df;
  background: #fff;
  border-radius: 10px;
}

#cancel-button:hover {
  background: #f4f7fb;
  cursor: pointer;
}

#annotation-container {
  display: flex;
  width: 80%;
  justify-content: center;
  gap: 50px;
  border-right: 1px solid #e1e9ef;
  padding-right: 25px;
}

#annotation-mode button {
  border: none;
  background-color: transparent;
  font-size: 16px;
}

#annotation-mode button:hover {
  cursor: pointer;
}

#annotation-mode {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.active-view {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
  color: #435869;
}

.inactive-view {
  text-decoration: none;
  color: #85a2b9;
}

#buttons-wrapper {
  float: right;
}
