.stepper-wrapper {
  position: relative;
}

.stepper-connector-text {
  position: absolute;
  top: 60px;
  left: 20%;
  transform: translateX(-50%);
  padding: 0 8px;
  font-size: 12px;
  color: #666;
  pointer-events: none;
}

.mat-stepper-horizontal-line {
  border-top-width: 2px;
}

::ng-deep .mat-mdc-option.mdc-list-item {
  background: white !important;
}

::ng-deep .mat-mdc-option.mat-mdc-option-active.mdc-list-item,
::ng-deep .mat-mdc-option:hover {
  background-color: #f4f7fb !important;
}

::ng-deep div.mat-mdc-autocomplete-panel {
  padding: 0 !important;
  border: 1px solid #dee2e6 !important;
}
