<div id="modal-header">{{ data.isResourceWorkflow ? 'New resource' : 'New annotator' }}</div>
<div style="height: 100%">
  <mat-stepper #stepper [linear]="true" class="custom-stepper">
    @if(data.isResourceWorkflow) {
    <mat-step label="Select resource type" [stepControl]="resourceTypeStep">
      <form [formGroup]="resourceTypeStep" id="resource-input-form">
        <div class="forms-wrapper">
          <mat-form-field [appearance]="'outline'" id="resource-type">
            <mat-select matNativeControl [value]="selectedResourceType" formControlName="resourceType">
              @for (type of resourceTypes; track type) {
              <mat-option [value]="type" [title]="type" (click)="clearResource()">{{ type }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-form-field [appearance]="'outline'">
            <input
              type="text"
              autocomplete="off"
              matInput
              id="resource-input"
              formControlName="resourceId"
              [matAutocomplete]="resourceIdsDropdown"
              #resourceInput="matAutocompleteTrigger"
              #resourceInputValue
              [title]="resourceInputValue.value"
              (click)="clearResource()"
              (keydown.enter)="resourceInput.closePanel()" />
            <span (click)="resourceInput.openPanel(); clearResource()" class="material-symbols-outlined dropdown-icon"
              >keyboard_arrow_down</span
            >
            <mat-autocomplete #resourceIdsDropdown="matAutocomplete">
              @for (id of resourceIds; track id) {
              <mat-option class="resource-option" [value]="id" [title]="id">{{ id }}</mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <div>
          <button
            matButton
            [disabled]="resourceTypeStep.invalid"
            class="next-button"
            (click)="requestResourceAnnotators()"
            >Next</button
          >
        </div>
      </form>
    </mat-step>
    }

    <mat-step label="Select annotator" [stepControl]="annotatorStep">
      <ng-template matStepContent>
        @if(data.isResourceWorkflow) {
        <div class="summary-content">
          <div class="resource-type-display-text" [title]="resourceTypeStep.value | keyValueDisplay">{{
            resourceTypeStep.get('resourceType').value + '\n' + resourceTypeStep.get('resourceId').value
          }}</div>
        </div>
        }
        <div class="left-content">
          <form [formGroup]="annotatorStep" id="annotator-input-form">
            <mat-form-field [appearance]="'outline'">
              <input
                type="text"
                placeholder="Select annotator"
                autocomplete="off"
                matInput
                formControlName="annotator"
                [matAutocomplete]="annotatorsDropdown"
                #annotatorInput="matAutocompleteTrigger"
                #annotatorInputValue
                [title]="annotatorInputValue.value"
                (click)="clearAnnotator()"
                (keydown.enter)="annotatorInput.closePanel()" />
              <span
                (click)="annotatorInput.openPanel(); clearAnnotator()"
                class="material-symbols-outlined dropdown-icon"
                >keyboard_arrow_down</span
              >

              <mat-autocomplete #annotatorsDropdown="matAutocomplete">
                @for (annotator of filteredAnnotatorTypes; track annotator) {
                <mat-option class="annotator-option" [value]="annotator" [title]="annotator">{{
                  annotator
                }}</mat-option>
                }
              </mat-autocomplete>
            </mat-form-field>

            <div>
              <button matButton [disabled]="annotatorStep.invalid" class="next-button" (click)="requestResources()"
                >Next</button
              >
              @if(data.isResourceWorkflow) {
              <button mat-button matStepperPrevious class="back-button">Back</button>
              }
            </div>
          </form>
        </div>
      </ng-template>
    </mat-step>

    <mat-step label="Select resources" [stepControl]="resourceStep">
      <ng-template matStepContent>
        <div class="summary-content">
          @if(data.isResourceWorkflow) {
          <div class="resource-type-display-text" [title]="resourceTypeStep.value | keyValueDisplay">{{
            resourceTypeStep.get('resourceType').value + '\n' + resourceTypeStep.get('resourceId').value
          }}</div>
          }
          <div class="annotator-display-text">{{ annotatorStep.value | keyValueDisplay }}</div>
        </div>

        <div class="left-content">
          <form [formGroup]="resourceStep" id="resources-form">
            <div>
              @for (resource of annotatorConfig.resources; track resource.key) {
              <div class="field">
                <div class="labels-wrapper">
                  <span class="resource field-label"> {{ resource.key }}</span>
                  @if(resource.optional) {
                  <span class="optional-label">(optional)</span>
                  }
                </div>

                @if(resource.fieldType === 'resource' || resource.fieldType === 'attribute') {
                <mat-form-field [appearance]="'outline'" class="resource-input" [attr.id]="resource.key + '-dropdown'">
                  <input
                    type="text"
                    placeholder="Select or search resource"
                    autocomplete="off"
                    matInput
                    [formControlName]="resource.key"
                    [matAutocomplete]="resourcesDropdown"
                    #resourceInput="matAutocompleteTrigger"
                    #resourceInputValue
                    [title]="resourceInputValue.value"
                    (click)="clearResource(resource.key)" />
                  <span
                    (click)="resourceInput.openPanel(); clearResource(resource.key)"
                    class="material-symbols-outlined dropdown-icon"
                    >keyboard_arrow_down</span
                  >

                  <mat-autocomplete #resourcesDropdown="matAutocomplete">
                    @for (r of filteredResourceValues.get(resource.key); track $index) {
                    <mat-option class="resource-option" [value]="r" [title]="r">{{ r }}</mat-option>
                    }
                  </mat-autocomplete>
                </mat-form-field>
                } @else if(resource.fieldType === 'string') {
                <input
                  class="resource-field"
                  type="text"
                  [formControlName]="resource.key"
                  autocomplete="off"
                  [attr.id]="resource.key + '-input'" />
                } @else if(resource.fieldType === 'bool') {
                <div>
                  <input type="radio" [formControlName]="resource.key" for="true" />
                  <label name="true">True</label>
                  <input type="radio" [formControlName]="resource.key" for="false" />
                  <label name="false">False</label>
                </div>
                }
              </div>
              }
            </div>
            <div>
              <button matButton [disabled]="resourceStep.invalid" (click)="requestAttributes()" class="next-button"
                >Next</button
              >
              <button mat-button matStepperPrevious class="back-button">Back</button>
            </div>
          </form>
        </div>
      </ng-template>
    </mat-step>

    <mat-step label="Select attributes" [stepControl]="attributeStep">
      <ng-template matStepContent>
        <div class="summary-content">
          <div class="annotator-display-text" [title]="annotatorStep.value | keyValueDisplay">{{
            annotatorStep.value | keyValueDisplay
          }}</div>
          <div class="resources-display-text" [title]="resourceStep.value | keyValueDisplay">{{
            resourceStep.value | keyValueDisplay
          }}</div>
        </div>

        <div class="left-content">
          <div>
            <form [formGroup]="attributeStep" id="attribute-form">
              <mat-form-field [appearance]="'outline'" class="attribute-input" id="attributes-dropdown">
                <input
                  type="text"
                  placeholder="Select or search attribute"
                  autocomplete="off"
                  matInput
                  [formControlName]="'attribute'"
                  [matAutocomplete]="attributesDropdown"
                  #attributeInput="matAutocompleteTrigger"
                  #attributeInputValue
                  [title]="attributeInputValue.value"
                  (click)="clearAttributeInput()"
                  (keydown.enter)="attributeInput.closePanel()" />
                <span
                  (click)="attributeInput.openPanel(); clearAttributeInput()"
                  class="material-symbols-outlined dropdown-icon"
                  >keyboard_arrow_down</span
                >

                <mat-autocomplete
                  #attributesDropdown="matAutocomplete"
                  (optionSelected)="onSelectAttribute($event.option.value)">
                  @for (attribute of unselectedFilteredAttributes; track attribute.name) {
                  <mat-option
                    class="attribute-option"
                    [value]="attribute"
                    [title]="attribute.name + ' - ' + attribute.description"
                    >{{ attribute.name + ' - ' + attribute.description }}</mat-option
                  >
                  }
                </mat-autocomplete>
              </mat-form-field>
            </form>
            @if(selectedAttributes.length) {
            <span>Selected attributes:</span>
            <div class="grid-container" id="attributes-list">
              <div class="grid-header">Source</div>
              <div class="grid-header">Name</div>
              <div class="grid-header">Internal</div>
              <div class="grid-header">Description</div>
              <div class="grid-header">Delete</div>
              @for (selectedAttribute of selectedAttributes; track selectedAttribute.source) {
              <ng-container>
                <span class="attribute-source grid-cell" [title]="selectedAttribute.source">{{
                  selectedAttribute.source
                }}</span>
                <span
                  class="attribute-name grid-cell"
                  [title]="selectedAttribute.name"
                  [ngClass]="existingAttributeNames.has(selectedAttribute.name) ? 'duplicate-name' : ''">
                  <input
                    class="editable-name"
                    type="text"
                    [title]="selectedAttribute.name"
                    [value]="selectedAttribute.name"
                    [(ngModel)]="selectedAttribute.name"
                    (ngModelChange)="validateAttributes()"
                    [ngClass]="existingAttributeNames.has(selectedAttribute.name) ? 'duplicate-name-input' : ''" />
                </span>
                <span class="attribute-internal grid-cell center-cell"
                  ><input
                    type="checkbox"
                    [checked]="selectedAttribute.internal"
                    (change)="toggleAttributeInternal(selectedAttribute)" />
                </span>
                <span class="attribute-description grid-cell" [title]="selectedAttribute.description">{{
                  selectedAttribute.description
                }}</span>
                <div class="delete-buttons grid-cell center-cell">
                  <span
                    [attr.id]="selectedAttribute.name + '-remove-button'"
                    class="material-symbols-outlined remove-attribute"
                    (click)="removeSelectedAttribute(selectedAttribute)"
                    >delete</span
                  >
                </div>
              </ng-container>
              }
            </div>
            }
          </div>
          <div class="modal-footer">
            @if(!areAttributesValid) {
            <div class="duplicate-name">Attribute with this name already exists</div>
            }@if(errorMessage) {
            <div class="duplicate-name">{{ errorMessage }}</div>
            }
            <button mat-button matStepperPrevious class="back-button" (click)="clearErrorMessage()">Back</button>
            <button matButton matStepperNext class="next-button" (click)="clearErrorMessage()">Next</button>
            @if(areAttributesValid) {
            <button matButton (click)="onFinish()" class="finish-button">Finish</button>
            }
          </div>
        </div>
      </ng-template>
    </mat-step>
    <mat-step label="Modify attributes" [optional]="areAttributesValid">
      <ng-template matStepContent>
        <div class="summary-content">
          <div class="annotator-display-text" [title]="annotatorStep.value | keyValueDisplay">{{
            annotatorStep.value | keyValueDisplay
          }}</div>
          <div class="resources-display-text" [title]="resourceStep.value | keyValueDisplay">{{
            resourceStep.value | keyValueDisplay
          }}</div>
        </div>

        <div class="left-content">
          <div id="attributes-list">
            @for (attribute of selectedAttributes; track attribute.source) {
            <div class="attribute-group modify-view-group">
              <div style="width: 100%; margin-left: 20px">
                <div class="attribute modify-view-attribute">
                  <span class="field-label">name</span>
                  <input
                    class="editable-name"
                    type="text"
                    [title]="attribute.name"
                    [value]="attribute.name"
                    [(ngModel)]="attribute.name"
                    (ngModelChange)="validateAttributes()"
                    [ngClass]="existingAttributeNames.has(attribute.name) ? 'duplicate-name-input' : ''" />
                </div>
                <div class="attribute modify-view-attribute">
                  <span class="field-label">source</span>
                  <span>{{ attribute.source }}</span>
                </div>
                <div class="attribute modify-view-attribute">
                  <span class="field-label">internal</span>
                  <div>
                    <input
                      type="radio"
                      [id]="attribute.name + '-internal-true'"
                      [name]="attribute.name + 'is-internal'"
                      [value]="attribute.name + '-internal-true'"
                      [checked]="attribute.internal === true"
                      (click)="setAttributeInternal(attribute, true)" />
                    <label [for]="attribute.name + '-internal-true'" class="internal-value">True</label>
                    <input
                      type="radio"
                      [id]="attribute.name + '-internal-false'"
                      [name]="attribute.name + 'is-internal'"
                      [value]="attribute.name + '-internal-false'"
                      [checked]="attribute.internal === false"
                      (click)="setAttributeInternal(attribute, false)" />
                    <label [for]="attribute.name + '-internal-false'" class="internal-value">False</label>
                  </div>
                </div>
              </div>
            </div>
            }
          </div>
          <div class="modal-footer">
            @if(!areAttributesValid) {
            <div class="duplicate-name">Attribute with this name already exists</div>
            } @if(errorMessage) {
            <div class="duplicate-name">{{ errorMessage }}</div>
            }
            <button
              mat-button
              matStepperPrevious
              class="back-button"
              (click)="resetAttributeNames(); clearErrorMessage()"
              >Back</button
            >
            <button [disabled]="!areAttributesValid" matButton (click)="onFinish()" class="finish-button"
              >Finish</button
            >
          </div>
        </div>
      </ng-template>
    </mat-step>

    <ng-template matStepperIcon="edit" let-index="index">
      {{ index + 1 }}
    </ng-template>
  </mat-stepper>
</div>
