<div id="pipelines-container">
  <div id="pipelines-header">Annotation pipelines</div>
  <div>
    <input
      placeholder="Select pipeline"
      [title]="selectedPipeline ? selectedPipeline.id : ''"
      id="pipelines-input"
      matInput
      [matAutocomplete]="pipelinesDropdown"
      [formControl]="dropdownControl"
      (click)="clearPipeline()" />

    <span *ngIf="lastNotification" id="socket-notification">
      <span [ngClass]="lastNotification.status" class="material-symbols-outlined pipeline-status-icon"
        >circle</span
      ></span
    >
  </div>

  <mat-autocomplete #pipelinesDropdown="matAutocomplete">
    <mat-option
      *ngFor="let pipeline of filteredPipelines"
      class="pipeline-option"
      (click)="onPipelineClick(pipeline)"
      (onSelectionChange)="onPipelineClick(pipeline)"
      [title]="pipeline.name"
      [value]="pipeline.name">
      {{ pipeline.name }}
      <span *ngIf="lastNotification && pipeline.id === lastNotification.pipelineId" id="socket-notification">
        <span [ngClass]="lastNotification.status" class="material-symbols-outlined pipeline-status-icon"
          >circle</span
        ></span
      >
    </mat-option>
  </mat-autocomplete>

  <ngx-monaco-editor
    #pipelineEditor
    id="pipeline-editor"
    [ngClass]="{ 'invalid-config': configError }"
    [ngStyle]="{ width: isFullScreen ? '95vw' : '40vw', height: isFullScreen ? '70vh' : '40vh' }"
    [options]="yamlEditorOptions"
    (onInit)="onEditorInit()"
    [(ngModel)]="currentPipelineText"
    (ngModelChange)="isConfigValid()"></ngx-monaco-editor>
  <div *ngIf="configError" class="error-message">{{ configError }}</div>
</div>

<div id="pipeline-actions">
  <div>
    <button (click)="clearPipeline()" id="add-button"
      ><span class="material-symbols-outlined add-icon">add</span>New</button
    >
    <button *ngIf="isUserLoggedIn" (click)="saveAs()" id="save-as-button" [disabled]="configError"
      ><span class="material-symbols-outlined save-as-icon">save_as</span>Save as</button
    >
    <button
      *ngIf="isUserLoggedIn && selectedPipeline && selectedPipeline.type === 'user'"
      (click)="save()"
      id="save-button"
      [disabled]="!isPipelineChanged() || configError"
      ><span class="material-symbols-outlined save-icon">save</span>Save</button
    >
    <button
      *ngIf="isUserLoggedIn && selectedPipeline && selectedPipeline.type === 'user'"
      (click)="delete()"
      id="delete-button"
      ><span class="material-symbols-outlined delete-icon">delete</span>Delete</button
    >
  </div>
  <div>
    <button *ngIf="isFullScreen" (click)="shrinkTextarea()" id="shrink-button"
      ><span class="material-symbols-outlined shrink-icon">close_fullscreen</span>Reset</button
    >
    <button *ngIf="!isFullScreen" (click)="expandTextarea()" id="expand-button"
      ><span class="material-symbols-outlined expand-icon">open_in_full</span>Full screen</button
    >
  </div>
</div>

<ng-template #nameInput>
  <div id="name-modal">
    <div>Set pipeline name</div>
    <input #inputRef (keydown.enter)="saveName(inputRef.value)" />
    <div id="buttons-wrapper">
      <button id="save-name-button" (click)="saveName(inputRef.value)">Save</button>
      <button id="cancel-button" (click)="cancel()">Cancel</button>
    </div>
  </div>
</ng-template>
