textarea {
  resize: vertical;
  border: 2px solid #cfd8df;
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
  height: 500px;
}

textarea:focus-visible {
  border-color: #85a2b9;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #cfd8df;
}

textarea::-webkit-scrollbar {
  width: 12px;
}

textarea::-webkit-scrollbar-track {
  margin: 10px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #e1e9ef;
  border-radius: 10px;
  padding: 10px;
  border: 2px solid white;
}

textarea::-webkit-scrollbar-thumb:hover {
  background-color: #cfd8df;
  cursor: pointer;
}

.invalid-config {
  border: 2px solid #d74b59;
  box-shadow: 0 0 0 0.2rem #edbec3;
}

.pipeline-option {
  color: #435869;
}

::ng-deep .mat-mdc-option.mdc-list-item {
  background: white !important;
}

::ng-deep .mat-mdc-option.mat-mdc-option-active.mdc-list-item,
::ng-deep .mat-mdc-option:hover {
  background-color: #f4f7fb !important;
}

::ng-deep div.mat-mdc-autocomplete-panel {
  padding: 0 !important;
  border: 1px solid #dee2e6 !important;
}

#pipelines-input {
  padding: 10px;
  border: 1px solid #cfd8df;
  border-radius: 5px;
  color: #252e34;
  font-weight: 600;
  font-size: 16px;
}

#pipelines-input:focus {
  border: 2px solid #85a2b9;
  outline: 0;
  background-color: #f4f7fb;
}

#pipelines-header {
  font-weight: bold;
  color: #435869;
  align-self: center;
}

#pipelines-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}
