#pipeline-textarea {
  border: 2px solid #cfd8df;
  border-radius: 15px;
  padding-top: 10px;
  width: 100%;
}

.invalid-config {
  border: 2px solid #d74b59 !important;
  box-shadow: 0 0 0 0.2rem #edbec3;
}

.pipeline-option {
  color: #435869;
}

::ng-deep .mat-mdc-option.mdc-list-item {
  background: white !important;
}

::ng-deep .mat-mdc-option.mat-mdc-option-active.mdc-list-item,
::ng-deep .mat-mdc-option:hover {
  background-color: #f4f7fb !important;
}

::ng-deep div.mat-mdc-autocomplete-panel {
  padding: 0 !important;
  border: 1px solid #dee2e6 !important;
}

#pipelines-input {
  padding: 10px;
  border: 1px solid #cfd8df;
  border-radius: 5px;
  color: #252e34;
  font-weight: 600;
  font-size: 16px;
}

#pipelines-input:focus {
  border: 2px solid #85a2b9;
  outline: 0;
  background-color: #f4f7fb;
}

#pipelines-header {
  font-weight: bold;
  color: #435869;
  align-self: center;
}

#pipelines-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}

#pipeline-actions {
  display: flex;
  justify-content: space-between;
}

#add-button,
#save-as-button,
#save-button,
#delete-button,
#expand-button {
  background-color: transparent;
  border: none;
  color: #435869;
  font-size: 15px;
}

.add-icon,
.save-as-icon,
.save-icon,
.delete-icon,
.expand-icon {
  vertical-align: middle;
  font-size: 22px;
}

.expand-icon {
  transform: rotate(90deg);
}

.delete-icon,
#delete-button {
  color: #d74b59;
}

#add-button:hover,
#save-as-button:hover,
#save-button:hover,
#delete-button:hover,
#expand-button:hover {
  cursor: pointer;
  color: #5b778c;
}

#delete-button:hover {
  color: #eb8b94;
}

#save-button:disabled {
  cursor: initial;
  color: #85a2b9;
}

#save-name-button {
  padding: 8px 10px;
  font-size: 16px;
  white-space: nowrap;
  border: none;
  background: #435869;
  border-radius: 10px;
  color: white;
  margin-right: 10px;
}

#save-name-button:hover {
  background: #5b778c;
  cursor: pointer;
}

#cancel-button {
  padding: 8px 10px;
  font-size: 16px;
  white-space: nowrap;
  border: 1px solid #cfd8df;
  background: #fff;
  border-radius: 10px;
}

#cancel-button:hover {
  background: #f4f7fb;
  cursor: pointer;
}

#name-modal {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#name-modal input {
  padding: 0 10px;
  font-size: 18px;
  border: 1.5px solid #5b778c;
  border-radius: 10px;
  height: 40px;
}

#name-modal input:focus {
  border-color: #85a2b9;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #b9d3e7;
}

#buttons-wrapper {
  align-self: flex-end;
}
