<div id="pipelines-container">
  <div id="pipelines-header">Annotation pipelines</div>
  <ng-container>
    <input
      [title]="pipelineId"
      id="pipelines-input"
      matInput
      [matAutocomplete]="pipelinesDropdown"
      [formControl]="dropdownControl" />

    <mat-autocomplete #pipelinesDropdown="matAutocomplete">
      <mat-option
        *ngFor="let pipelineId of filteredPipelines$ | async"
        class="pipeline-option"
        (click)="onPipelineClick(pipelineId)"
        (onSelectionChange)="onPipelineClick(pipelineId)"
        [title]="pipelineId"
        [value]="pipelineId">
        {{ pipelineId }}
      </mat-option>
    </mat-autocomplete>
  </ng-container>
</div>
