<div class="histogram" style="overflow: auto">
  <div style="position: relative" [attr.width]="'600'">
    <svg
      style="min-width: 500px; display: block"
      [attr.width]="'600'"
      [attr.height]="'150'"
      [attr.viewBox]="'-100 0 600 50'">
      <g [attr.transform]="'translate(' + 10 + ',' + 10 + ')'">
        <g #histogramContainer style="transform: 'translate(0px, 0px)'"></g>
        <g *ngIf="singleScoreValue">
          <!-- prettier-ignore -->
          <text [attr.x]="scaleXAxis(singleScoreValue)" [attr.y]="-10" class="small single-score-value" text-anchor="middle">{{ (singleScoreValue | number:"0.0-3").replaceAll(',', '') }}</text>
          <line
            class="single-score-marker"
            style="stroke: rgb(255, 0, 0); stroke-width: 2"
            [attr.x1]="scaleXAxis(singleScoreValue)"
            [attr.y1]="scaleYAxis(1)"
            [attr.x2]="scaleXAxis(singleScoreValue)"
            [attr.y2]="-5" />
        </g>
      </g>
    </svg>

    <div *ngIf="histogram.smallValuesDesc && histogram.largeValuesDesc" id="values-description">
      <span>{{ histogram.smallValuesDesc }}</span>
      <span>{{ histogram.largeValuesDesc }}</span>
    </div>
  </div>
</div>
