<div id="single-annotation-container">
  <img src="{{ environment.imgPathPrefix }}/logo-64x64.png" alt="GPF Logo" id="single-annotation-logo" />
  <h1>Single Annotation</h1>
  <div>
    <select [(ngModel)]="selectedGenome">
      <option *ngFor="let genome of genomes" [value]="genome">{{ genome }}</option>
    </select>
    <input #variantInput type="text" placeholder="Type variant..." />
    <button (click)="validateVariant(variantInput.value)">Go</button>
  </div>
  <span *ngIf="validationMessage" id="validation-message">{{ validationMessage }}</span>
  <span id="variant-examples">Example: chr1 11796321 G A</span>
</div>
