<div id="single-annotation-container" class="main-component">
  <div>
    <input
      [(ngModel)]="currentAllele"
      type="text"
      placeholder="Type variant..."
      (keydown.enter)="triggerPipelineAutoSave()"
      (ngModelChange)="resetAllele()" />
    <button (click)="triggerPipelineAutoSave()" [disabled]="disableGo()">Go</button>
  </div>
  <span *ngIf="validationMessage" id="validation-message">{{ validationMessage }}</span>
  <span id="variant-examples"
    >Example:
    <a class="example" (click)="setAllele('chr1 11796321 G A'); triggerPipelineAutoSave()">chr1 11796321 G A</a></span
  >
  @if (loading) {
  <mat-progress-spinner mode="indeterminate" diameter="40"></mat-progress-spinner>
  <span id="loading-text">Loading...</span>
  } @if (report) {
  <app-single-annotation-report [report]="report"></app-single-annotation-report>
  }</div
>
