#single-annotation-container {
  display: flex;
}

.main-component {
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.inline-component {
  flex-direction: row;
  align-items: baseline;
  gap: 30px;
  padding: 25px;
  margin-top: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid #85a2b9;
  background: #f7fafd;
}

#single-annotation-logo {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

h1 {
  font-size: 3em;
}

select {
  padding: 5px 10px;
  font-size: 16px;
  border: 1.5px solid #5b778c;
  border-radius: 10px;
  color: #5b778c;
  background-color: white;
}

input[type="text"] {
  margin: 10px;
  padding: 0 10px;
  font-size: 18px;
  width: 20vw;
  min-width: 250px;
  max-width: 600px;
  border: 1.5px solid #5b778c;
  border-radius: 10px;
  height: 40px;
}

input:focus {
  border-color: #85a2b9;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #b9d3e7;
}

input::placeholder {
  color: #85a2b9;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  color: white;
  background-color: #5b778c;
  border: none;
  border-radius: 10px;
}

button:disabled {
  opacity: 30%;
}

button:disabled:hover {
  cursor: auto;
}

#validation-message {
  color: #d74b59;
}

#variant-examples {
  font-style: italic;
  color: #b9d3e7;
}

.example {
  color: #b9d3e7;
  text-decoration: underline;
}

.example:hover {
  cursor: pointer;
  color: #5b778c;
}

mat-progress-spinner {
  stroke: #24699e;
  stroke-width: 20px;
  margin-top: 60px;
}

#loading-text {
  color: #b9d3e7;
  font-style: italic;
  margin-top: 10px;
}
