.grid-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  width: 65%;
}

.grid-header {
  min-height: 2rem;
  line-height: 2rem;
  border: 1px solid #cfd8df;
  background-color: #ecf1f6;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}

.grid-cell {
  border: 1px solid #cfd8df;
  text-align: center;
  padding: 7px;
  text-wrap: nowrap;
  font-size: 14px;
}
