#container {
  padding: 0 8px;
}

#table {
  display: grid;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 18px;
  overflow-x: auto;
}

.header {
  background-color: #85a2b9;
  padding: 10px;
  text-align: center;
  height: fit-content;
}

.file-header {
  margin-top: 5px;
  color: #252e34;
  font-weight: 500;
}

.cell {
  padding: 10px;
  text-align: center;
}

.row {
  display: contents;
}

.row:nth-child(even) {
  color: #435869;
  background-color: #f4f7fb;
}

.row:nth-child(odd) {
  background-color: white;
}

button {
  padding: 10px 12px;
  font-size: 16px;
  white-space: nowrap;
  border: none;
  background: #435869;
  border-radius: 10px;
  color: white;
  width: 75px;
  float: right;
}

button:hover {
  background: #5b778c;
  cursor: pointer;
}

button:disabled {
  opacity: 30%;
}

button:disabled:hover {
  cursor: auto;
  background-color: #435869;
}

::ng-deep .mat-mdc-form-field-focus-overlay {
  background-color: transparent !important;
}

mat-form-field {
  min-width: 85px !important;
  width: 7vw !important;
  max-width: 250px !important;
}

::ng-deep .mdc-text-field {
  height: 38px !important;
  border-bottom: 1px solid #252e34 !important;
}

::ng-deep .mat-mdc-form-field-infix {
  top: -9px;
}

::ng-deep div.mat-mdc-select-panel {
  padding: 0 !important;
  box-shadow: none !important;
  border: 1px solid #dee2e6 !important;
}

::ng-deep div.mat-mdc-select-panel .mat-mdc-option {
  color: #435869;
  background-color: white !important;
}

::ng-deep div.mat-mdc-select-panel .mat-mdc-option:hover {
  background-color: #f4f7fb !important;
}

::ng-deep .mdc-line-ripple {
  display: none;
}

::ng-deep .mat-mdc-select-value-text {
  color: white;
  font-weight: 500;
}

::ng-deep .mat-mdc-select-placeholder {
  color: #b9d3e7 !important;
  font-style: italic;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

#job-info {
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
}
