#page-content {
  margin: 60px 15%;
  min-width: 715px;
  max-width: 1600px;
}

#above-table {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

#add-job-button {
  padding: 10px 12px;
  font-size: 16px;
  white-space: nowrap;
  border: none;
  background: #435869;
  border-radius: 10px;
  color: white;
  display: flex;
  align-items: center;
  gap: 5px;
}

#add-job-button:hover {
  background: #5b778c;
  cursor: pointer;
}

#table-title {
  font-weight: bold;
  font-size: 16px;
  margin-left: 10px;
}

#grid-container {
  display: grid;
  width: max-content;
  min-width: 715px;
  max-width: 1600px;
  grid-template-columns: repeat(7, minmax(105px, 10vw));
  border: 1px solid #cfd8df;
  border-radius: 15px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.grid-header {
  background-color: #ecf1f6;
  min-height: 2rem;
  line-height: 3rem;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #5b778c;
  color: #252e34;
}

.grid-header:first-child {
  border-top-left-radius: 15px;
}

.grid-header:nth-child(7) {
  border-top-right-radius: 15px;
}

.grid-cell {
  border-top: 1px solid #cfd8df;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  line-height: 2rem;
  padding: 8px 0 5px;
}

.first-cell {
  flex-direction: row;
}

.info-icon {
  font-size: 20px;
  color: #5b778c;
  margin-left: 5px;
}

.info-icon:hover {
  color: #85a2b9;
  cursor: pointer;
}

.time-info {
  color: #85a2b9;
  display: flex;
  flex-direction: column;
}

.time {
  color: #c8dae7;
}

#delete-job {
  background: none;
  border: none;
}

.download-icon,
.delete-icon {
  color: #435869;
  vertical-align: middle;
}

.download-icon:hover,
.delete-icon:hover {
  color: #85a2b9;
  cursor: pointer;
}

#download-result {
  background-color: transparent;
  border: none;
}

#note {
  font-style: italic;
  color: #5b778c;
  margin-top: 5px;
}

.specify-label {
  width: 170px;
  font-size: 14px;
  color: #dfb434;
  align-self: center;
  display: inline-flex;
  align-items: center;
}

.status-label:hover,
.specify-label:hover {
  cursor: pointer;
}

.warning-icon {
  color: #dfb434;
  font-size: 20px;
  margin-bottom: 7px;
  margin-right: 4px;
}

.specify-button {
  background: none;
  border: none;
  border-bottom: 1px solid #dfb434;
  padding: 2px;
  color: #dfb434;
  margin-left: 6px;
}

.specify-button:hover {
  cursor: pointer;
  color: #eeca5e;
}
