<div id="page-content">
  <div id="above-table">
    <span id="table-title">Annotation jobs</span>
    <button id="add-job-button" mat-button (click)="openCreateModal()">
      <span class="material-symbols-outlined add-icon">add</span>
      new job</button
    >
  </div>
  <div id="grid-container">
    <div class="grid-header">Job</div>
    <div class="grid-header">Created</div>
    <div class="grid-header">Started</div>
    <div class="grid-header">Duration</div>
    <div class="grid-header">Status</div>
    <div class="grid-header">Annotated file</div>
    <div class="grid-header">Delete</div>

    <ng-container *ngFor="let j of jobs">
      <div class="grid-cell"
        >{{ j.id
        }}<span class="material-symbols-outlined info-icon" mat-button (click)="openDetailsModal(j.id)">info</span></div
      >
      <div class="grid-cell time-info">
        <span class="date">{{ j.created.toDateString() }}</span>
        <span class="time">{{ j.created.toLocaleTimeString('en-US') }}</span>
      </div>
      <div class="grid-cell time-info">-</div>
      <div class="grid-cell time-info">-</div>
      <div class="grid-cell">
        <span class="status-label" [ngClass]="getStatusClass(j.status)">{{ j.status }}</span>
        <span *ngIf="j.status === 'specifying'"
          >Specify columns <button (click)="getModalContent(j.id)">here</button></span
        >
      </div>
      <div class="grid-cell">
        <a *ngIf="j.status === 'success'" id="download-result" [href]="getDownloadLink(j.id)" download
          ><span class="material-symbols-outlined download-icon">download</span></a
        >
      </div>
      <div class="grid-cell">
        <button id="delete-job" (click)="onDelete(j.id)"
          ><span class="material-symbols-outlined delete-icon">delete</span></button
        >
      </div>
    </ng-container>
  </div>

  <span id="note">Note: Jobs are stored for 30 days</span>
</div>
