#report {
  margin: 0 auto;
  max-width: 1500px;
  padding: 0 20px;
}

#variant {
  width: 100%;
}

#variant h2 {
  color: #252e34;
}

#variant-data-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 15px;
  margin-bottom: 20px;
  background-color: #f4f7fb;
  border: 1px solid #85a2b9;
  border-radius: 15px;
}

.variant-data-label {
  color: #85a2b9;
  text-align: center;
  font-size: 16px;
}

.variant-data {
  color: #435869;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
}

hr {
  width: 1px;
  background: #cfd8df;
  border: 0;
  margin: 7px 10px;
}

.annotator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 35px;
  padding: 20px 0;
  border-bottom: 2px solid #cfd8df;
}

.annotator-details {
  border: 1px solid #85a2b9;
  background-color: #f4f7fb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px 15px;
  min-width: 200px;
  max-width: 400px;
  width: 20vw;
  height: fit-content;
  word-break: break-word;
  position: sticky;
  top: 10px;
}

.attribute-header,
.annotator-header {
  font-weight: bold;
  color: #252e34;
  font-size: 18px;
  margin-bottom: 10px;
}

.annotator-description,
.attribute-description,
.id-label {
  color: #5b778c;
}

.annotator-label {
  color: #252e34;
  font-size: 20px;
  margin-bottom: 6px;
}

.resource {
  margin-bottom: 20px;
}

.resource:last-child {
  margin-bottom: 0;
}

.resource-label {
  font-weight: 500;
  color: #435869;
  font-size: 16px;
  margin-bottom: 5px;
}

.attribute {
  font-size: 14px;
  width: 40%;
  word-break: break-all;
}

.attribute-container {
  padding: 30px 0;
  border-top: 1px solid #cfd8df;
  display: flex;
  gap: 50px;
}

.attribute-container-modal {
  padding: 20px 0;
  border-top: 1px solid #cfd8df;
}

.attribute-container:first-child,
.attribute-container-modal:first-child {
  border-top: none;
  padding-top: 0;
}

.attribute-container:last-child {
  padding-bottom: 0;
}

.attribute-source {
  margin-top: 8px;
  color: #85a2b9;
}

.attributes {
  width: 100%;
}

.attribute-result {
  width: 60%;
}

.value-result {
  word-break: break-word;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #435869;
}

a {
  color: #24699e;
}

a:hover {
  color: rgb(84, 146, 194) !important;
  cursor: pointer;
}

:host::ng-deep markdown a {
  color: #24699e;
}

:host::ng-deep markdown a:hover {
  color: rgb(84, 146, 194) !important;
  cursor: pointer;
}

#report-header {
  display: flex;
  justify-content: space-between;
}

#download-report-button {
  background-color: transparent;
  border: none;
  color: #435869;
  font-size: 15px;
}

#download-report-button:hover {
  cursor: pointer;
  color: #5b778c;
}

.info-icon {
  color: #b4b4b4;
  font-size: 26px;
  height: fit-content;
}

.info-icon:hover {
  cursor: pointer;
  color: steelblue;
}

#modal-content {
  display: flex;
  justify-content: space-between;
  gap: 35px;
  padding: 20px;
  overflow-y: auto;
}

#toggle-view-container {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

#toggle-view-container label {
  color: #5b778c;
  font-size: 18px;
}

#compact-report {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  position: sticky;
  top: 10px;
  height: fit-content;
}

.switch {
  position: relative;
  height: 1.5rem;
  width: 3rem;
  cursor: pointer;
  appearance: none;
  border-radius: 9999px;
  background-color: #cfd8df;
  transition: all 0.3s ease;
}

.switch:checked {
  background-color: #5b778c;
}

.switch::before {
  position: absolute;
  content: "";
  left: calc(1.5rem - 1.6rem);
  top: calc(1.5rem - 1.6rem);
  display: block;
  height: 1.6rem;
  width: 1.6rem;
  cursor: pointer;
  border: 1px solid #85a2b9;
  border-radius: 9999px;
  background-color: white;
  box-shadow: 0 3px 10px #64748b53;
  transition: all 0.3s ease;
}

.switch:checked::before {
  transform: translateX(100%);
}
