#report {
  margin: 0 auto;
  max-width: 1500px;
  padding: 0 20px;
}

#variant {
  width: 100%;
}

#variant h2 {
  color: #252e34;
}

#variant-data-container {
  border: 1px solid #85a2b9;
  background-color: #f4f7fb;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 10px 15px;
  width: fit-content;
}

#variant-data-labels {
  color: #85a2b9;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#variant-data {
  color: #435869;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#annotators {
  margin-top: 20px;
}

.annotator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 35px;
  padding: 20px 0;
  border-bottom: 2px solid #cfd8df;
}

.annotator:first-child {
  border-top: 2px solid #cfd8df;
}

.annotator-details {
  border: 1px solid #85a2b9;
  background-color: #f4f7fb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 15px;
  min-width: 200px;
  max-width: 400px;
  width: 20vw;
  height: fit-content;
  word-break: break-word;
  position: sticky;
  top: 10px;
}

.attribute-header,
.annotator-header {
  font-weight: bold;
  color: #252e34;
  font-size: 20px;
  margin-bottom: 10px;
}

.annotator-description,
.attribute-description,
.id-label {
  color: #5b778c;
}

.annotator-label {
  color: #252e34;
  font-size: 20px;
  margin-bottom: 6px;
}

.resource-label {
  font-weight: 500;
  color: #435869;
  font-size: 16px;
  margin-bottom: 5px;
}

.attribute-container {
  padding: 30px 0;
  border-top: 1px solid #cfd8df;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.attribute-container:first-child {
  border-top: none;
  padding-top: 0;
}

.attribute-source {
  margin-top: 8px;
  color: #85a2b9;
}

.attributes {
  width: 55vw;
}

.value-result {
  word-break: break-word;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #435869;
}

a {
  color: #24699e;
}

a:hover {
  color: rgb(84, 146, 194) !important;
  cursor: pointer;
}

:host::ng-deep markdown a {
  color: #24699e;
}

:host::ng-deep markdown a:hover {
  color: rgb(84, 146, 194) !important;
  cursor: pointer;
}

#help-icon {
  color: #b4b4b4;
  font-size: 26px;
  vertical-align: bottom;
}

#help-icon:hover {
  cursor: pointer;
  color: steelblue;
}

#report-header {
  display: flex;
  justify-content: space-between;
}

#download-report-button {
  background-color: transparent;
  border: none;
  color: #435869;
  font-size: 15px;
}

#download-report-button:hover {
  cursor: pointer;
  color: #5b778c;
}
